<h1>Sport Service</h1>

<h2>Match {{ . }}</h2>

<h3>Score</h3>
<div class="score" id="score">0-0</div>

<h3>Match Events</h3>
<div class="match-events" id="match-events"></div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js"></script>
<script>
   const socket = io("http://localhost:3000");

    socket.on("connect", () => {
        console.log('connected');
    });

    socket.on("message", data => {
        console.log('message');
        console.log(data);

        document.getElementById("match-events").innerHTML = document.getElementById("match-events").innerHTML + data;

        if(data.new_score){
          document.getElementById("score").innerHTML = data.new_score;
        }

        var jsonData = JSON.parse(data);

        if (jsonData.new_score) {
            document.getElementById("score").innerHTML = jsonData.new_score;
        }
    });
</script>